<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('../partials/head'); %>  
</head>
<body>
    <!-- section header start -->
    <header>
    <%- include('../partials/header'); %> 
     
    </header>
    <!-- section header end -->
    <!-- section home start -->
    <section id="home" class="home">
      
        <div class="Introduction" id="Introduction">
            <% if(qualification.length) { 
                            
                for(var i=0;i<1;i++) { %>
            <h1>Hi, I'm <span>Jehad</span></h1>
            <h2><%=qualification[i].university %> <%=qualification[i].qualification %></h2>
            <p><%=qualification[i].date %></p>
            <a class="btn"  href=" /C.Vs/jehadCV.pdf" download="jehadCV" target="_blank">
                Download C.V
            
            </a>
            <% } }else{ %><h>jjj</h>
                <%} %> 
            </div> 
        
           

        
    </section>
    <!-- section home end -->

    <!-- section about me  start -->
    <section   id ="aboutme" class="aboutme" >
        <div class="heading">
            <h1>Skills</h1>
        </div>
     
        <div class="skills-content">
            <div class="skills-bars">
                <div class="skills-text">
                    <h2>My creative Skills</h2>
                    <p>I have extensive knowledge of HTML, JavaScript, PHP, and Mysql.</p>
                    
                    
                <% let a =1; if(skills.length){ %>
    <% for(let e =0; e< skills.length; e++){ %>
       
<div class="skills-box">
    <i ><h3><%=skills[e].title%></h3></i>
    <span><%=skills[e].progress_percent %></span>
    <div class="percent-bar " style="width:<%=skills[e].progress_percent %>%"></div>
</div>
                
                
<%}


}

else{
%>


        NO Skills Avalible
      

<%}%>
</div> 
            </div> 
           
            <!-- Content -->
            
                <div class="skills-bars">
                    <div class="skills-text">
                        <% if(data.length){
                  
                  for(var i = 0; i< 1; i++) {%>  
                        <h2>My creative expriences</h2>
                        <p>I am a <%=   experiencedata= data[i].experience%> based in Yemen. </p>
                        <p><%= data[i].Description%></p>
                        <% }
                                 
                                }else{ %>
                                    <tr>
                                       <td colspan="5">No expirince</td>
                                    </tr>
                                 <% } %>    
                               
                        
    
                    </div>
                </div>
            

        </div>
    </section>
    <!-- section about me end -->

    <!-- section services start -->
    <section id="services" class="services">
        <div class="heading">
            <h1>services</h1>
        </div>
        <div class="provided">
            <% if(Service.length) {
                for(var i=0;i<Service.length;i++) { %>
                
            <div class="box">
                <i class="<%=Service[i].icon %>"></i>
                <h3>  <%=Service[i].Service_name %></h3>
                <p>  <%=Service[i].Link %></p>
                <p>  <%=Service[i].Link %></p>
                
            </div>
            
            <% } }else{ %>
               <h1> NO Service</h1>
               <%} %> 
            
        </div>
        
        <div class="portfolio">
        
            <div class="heading">
                <h1>previose work</h1>
            </div>
    
            <!-- Content -->
            <div class="portfolio-content">
                <% if(Works.length) { 
                            
                            for(var i=0;i<Works.length;i++) { %>
                <div class="p-box">
                    <div class="p-img">
                        <img src="<%=Works[i].icon %>" alt=""  onmouseover="OnMouseIn (this)" onmouseout="OnMouseOut (this)">
                        
                    </div>
                    <h2>  <%=Works[i].Works_name %></h2>
                    
                </div>
                <% } }else{ %>
                    لNO Scoial
                    
                    <%} %> 
                </div>
            </div>
        </div>

    </section>
    <!-- section service end -->

    <!-- section contact me start -->
    <section class="contact" id="contact">
        <div class="heading">
            <h1>Contact</h1>
            </div>
            <div class="contact-content">
                <div class="column left">
                    <div class="text">Get in Touch</div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos harum corporis fuga corrupti. Doloribus quis soluta nesciunt veritatis vitae nobis?</p>
                    <div class="icons">
                        <% if(social.length) { 
                            
                            for(var i=0;i<social.length;i++) { %>
                        <div class="row">
                            <i class="  <%=social[i].icon %>"></i>
                            <div class="info">
                                <div class="head">  <%=social[i].Social_name %></div>
                                <div class="sub-title">       <%=social[i].Link %></div>
                            </div>
                        </div>
                        <% } }else{ %>
                           <h1>NO Scoial</h1>
                            <%} %> 
                    </div>
                </div>
                <div class="column right">
                    <div class="text">Message me</div>
                    <form method="post" id="validationForm" action="\">
                        <div class="fields">
                            <div class="field name">
                                <input type="text" id="firstName" placeholder="Name" >
                                <div id="errname"></div>
                            </div>
                            <div class="field email">
                                <input type="email" id="emailAddress" placeholder="Email" >
                                <div id="erremail"></div>
                            </div>
                        </div>
                        <div class="field textarea">
                            <textarea cols="30" rows="10" id="area" placeholder="Message.." ></textarea>
                            <div id="errarea"></div>
                        </div>
                        <div class="button-area">
                            <input type="submit" >
                        </div>
                    </form>
                </div>
            
            </div>
    </section>

     <!-- section cotact me end -->
     <!-- footer start -->

     <footer >
        <%- include('../partials/footer'); %>  
     </footer>
     <!-- footer  -->
    
     

</body>
<%- include('../partials/scripts'); %> 
    
  </script>
</html>